################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cython/v16/Server/sqlite3
/.vs/Cython/v16
/.vs/Cython1/v16/TestStore/0
/.vs/Cython1/DesignTimeBuild
